@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
   --main-color: #0984e3;
   --shadow: 0 0 0 100vw rgba(0,0,0, .6);
}

/* header section star here */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0984e3;
    height: 3.9rem;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}
.header .logo {
    margin-left: 3rem;
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}
.header .logo i {
    color: #FFF323;
}


.header form {
    position: relative;
}

.header form input {
    min-width: 40vw;
    height: 2.5rem;
    border-radius: 4rem;
    padding: 1rem;
    background-color: #fff;
    border: none;
}

.header form input:valid {
    outline: none;
}
.header form label {
    position: absolute;
    top: 12px;
    right: 25px;
    color: #666;
    cursor: pointer;
}
.header form label:hover {
    color: #0984e3;
}

.header .icons {
    margin-right: 3rem;
}
.header .icons #search-btn {
    display: none;
}
.icons div 
{
    padding: 0 1rem;
    color: #fff;
     cursor: pointer;
     font-size: 1.3rem;
}

.icons a {
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
}
.icons:hover {
   color: #0984e3;
}
/* side bar */
.side-bar { 
   position: fixed;
   top: 0;
   left: 110%;
   height: 100%;
   width: 15rem;
   background-color: rgb(252, 248, 248);
   z-index: 10000;
}
.side-bar.active  {
    left: 0;
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0, .6);
    transition: 300ms ease-in-out;
}

.side-bar #close-side-bar {
   color: #666;
   font-size: 1.8rem;
   position: absolute;
   top: 5px;
   right: 10px;
   cursor: pointer;
  
}


.side-bar #close-side-bar:hover {
    display: block;
    transform: rotate(150deg);
    color: #0984e3;
}

.side-bar .user img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 1rem;
    border: 0.3rem solid #fff;
    padding: 0.2em;
}
.side-bar .user {
    text-align: center;
    background-color: #eee;
    padding: 1.5rem;
}

.side-bar .user h2 {
    font-size: 1rem;
    padding-bottom: .3rem;
}
.side-bar .user a {
    text-transform: capitalize;
}

.navbar ul{
   padding: 1rem;
   list-style: none;
}
.navbar ul li a {
    display: block;
    padding: .5rem;
    color: rgb(39, 34, 34);
    transition: transform 300ms;
    text-decoration: none;
}
.navbar ul li a:hover {
    transform: translateX(5px);
    color: #0984e3;
}

/* home section start here */
 .home {
     margin-top: 5rem;
 }

 .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 4rem 0;
    height:100%;
} 

.content img {
   width: 18rem;
}



.content .box p {
    color: #0984e3;
    padding: 1rem 0;
    font-size: 1.3rem;
}
.content .box h1 {
    padding-bottom: 2rem;
}

 .content .box a {
    background-color: #fff;
    color: #0984e3;
    border: 2px solid #0984e3;
    border-radius: 5px;
    padding: 0.4rem 1.5rem;
    transition: all 200ms;
}
.content .box a:hover {
   color: #fff;
   background-color: #0984e3;
}
.swiper-button-next::after,
.swiper-button-prev::after {
     font-size: 1.9rem;
 }

 /* offer section start here */

 .current-offer {
     padding: 2rem ;
 }

.current-offer .offers-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}


.current-offer .offers-container .offers-content {
    border: 3px solid #7b99ad;
    border-radius: 5px;
    cursor: pointer;
}

.current-offer .offers-container .img-offer img {
    width: 20rem;
  }
.current-offer .offers-container .text-offer  {
   position: absolute;
   font-size: 1rem;
   margin: 6rem 1rem;
   transform: rotate(45deg);
}
.current-offer .offers-container .text-offer h3 {
    font-size: 1rem;
    color: #0984e3;
}

.current-offer .offers-container .offers-content  {
    transition: transform 200ms;
}
.current-offer .offers-container .offers-content:hover {
    transform: scale(1.01);
}

/*Arrival section start here */

/* .new-arrival {
    padding: 0;
} */
.new-arrival .header-text {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}
.new-arrival .header-text span {
   color: #0984e3;
}

.new-arrival .arrival-container .arrival-box .hover-img {
    display: none;
}

.arrival-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    justify-content: center;
    gap: 2rem;
    padding: 2rem 4rem;
}

.arrival-box {
    height: 13em;
    border: 3px #4697b9 solid;
    box-shadow: 0px -1px 12px -3px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: 200ms;
}
.arrival-box:hover {
    transform: translateY(-10px);
}
.arrival-container .arrival-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.arrival-container .arrival-box .arrival-items h2{
    margin-bottom: 10px;
}
.arrival-container .arrival-box .arrival-items .price {
    color: #0984e3;
    font-size: 1.1rem;
} 
.arrival-container .arrival-box .arrival-items .price span {
    color: #868a8b;
    font-size: 15px;
    text-decoration: line-through;
}

.arrival-container .arrival-box .offer-star i {
    color: #FFF323;
    margin-top: 10px;
}

.new-arrival .arrival-container .arrival-box .hover-img {
    display: none;
}
.arrival-box .image-offer img {
   width: 12rem;
   height: 10rem;
}






 /* footer */

 .footer-box {
    padding: .5rem 3%;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .footer-box .logo-footer .logo {
    margin-left: 3rem;
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}
.footer-box .logo-footer a i {
    color: #FFF323;
}
.footer-box ul {
    padding: 2rem;
}
.footer-box ul li {
    list-style: none;
}

.footer-box ul li a  {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.footer-box ul li a::after {
    content: '';
    position: absolute;
    top: 1.7rem;
    right: 1.3rem;
    left: 1rem;
    height: 2px;
    width: 3.5rem;
    transform: translateX(-20px);
    transition: transform 200ms;
}
.footer-box ul li a:hover:after {
    background-color: #0984e3;
    transform: translateX(0px);
}
.social-media {
    font-size: 1.3rem;
    margin-right: 20px;
}
.social-media a {
    color: #fff;
    padding: 1rem;
    transition: color 200ms;
}
.social-media a:hover {
    color: #0984e3;
}
.cards {
    background-color: #eee;
    padding: 1rem;
}
.cards .creater {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}



/* media query */

@media only screen and (max-width:1040px)  {
    .footer-box {
        flex-flow: column;
    }
  .footer-box ul {
      padding:1rem 0;
  }
}


@media only screen and (max-width:768px) {
     
    .header .search-form  {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        border-radius: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: all 500ms;
        transform: translateY(100px);
    }
       
    .header .search-form.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transform: translateY(0px);
    }
    .header .icons #search-btn {
        display: block;
    }
    .header .icons {
        display: flex;
    }
    .header form input {
        min-width: 100vw;
        height: 2.5rem;
        border-radius: 0rem;
        padding: 1rem;
        border: none;
        display: block;
    }
   
    .header .search-form label {
        right: 2rem;
        display: block;
    }
    
 
    .header form label {
        display: none;
    }

    /* footer */
    .footer-box ul {
        margin-left: 30%;
    }

    .footer-box ul li a {
        display: block;
        padding: .5rem 0;
    }
}

@media only screen and (max-width:450px) {
   /* offer */
    .content img {
        width: 15rem;
     }
     
     .swiper-button-next::after,
     .swiper-button-prev::after {
     font-size: 1.5rem;
 }

 /* footer */
 .footer-box {
    flex-flow: column;
}
.footer-box ul li a::after {
    content: '';
    position: absolute;
}
 

  .payment-cards {
     padding: 1rem 0;
  }
}